 body {margin:0;
  padding:0;
  box-sizing:border-box;
  background:pink;
  font-family: 'Oswald', sans-serif;}
  .tophead {width:100%;
  height:45px;
  background:#1976d2;
  display:flex;
  justify-content:space-between;
  align-items:center;}
  .menulines {font-size:30px;
  cursor:pointer;
  margin-right:15px;
  color: #fff;}
  .logo {font-size:26px;
  color: #fff;}
  .mainpart {margin-top:15px;
  margin-left:15px;}
  p {margin-top:15px;
  margin-left:15px;}
  .sidenav { 
  height:100%;
  width:0;
  position:fixed;
  top:0%;
  left:0%;
  z-index:1;
  background: #272634;
  overflow-x:hidden;
  padding-top:40px;
  transition: 0.5s linear;}
  .sidenav a {
  text-decoration:none;
  font-size:20px;
  color: #fff;
 display:block;
 padding:15px 0 15px 15px; }
 .sidenav a:hover {
 color:rgba(255,255,255,0.7);}
 .closebtn { position:absolute;
 top:-3%;
 right:8%;
 font-size:40px!important;}
 
 .hs {margin-top:30px;}